.contain {
	border: 1px solid lightgray;
	padding: 15px;
	width: 30%;
	margin: auto;
	margin-top: 10px;
	display: flex;
	vertical-align: middle;
	justify-content: space-between;
}

.input {
	width: 50% !important;
}

.lyrics {
	display: flex;
	vertical-align: middle;
	justify-content: space-between;
}

.lyrics-vote {
	display: flex;
	vertical-align: middle;
	margin-right: 10px;
}

.vote-hand {
	padding-left: 10px;
	margin-right: 20px;
}

.material-icons:hover {
	color: cornflowerblue;
}